#columns {
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}

img{
	max-width:100%;
}
.pin {
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
    display: inline-block;
    margin: 0 2px 15px;
    box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
    background: #FEFEFE;
    background-image: linear-gradient(45deg, #FFF, #F9F9F9);
}

.pinimage{
    z-index: 5;
}


.pinimage img{
    display: none;
}

.pinimage img:first-child{
    display: block;
}

.pincategory{

    width: 80%;
    background: #000;
    zoom: 1;
    filter: alpha(opacity=70);
    opacity: 0.8;
    margin-top: -36px;
    z-index: 1;
    height: 30px;
    overflow: hidden;
    left: 0;
}

.pincategory p{
    margin: 0;
    padding: 0;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 40px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.pintext{
    padding: 20px;
    padding-top: 25px;
    text-align: justify;
    text-justify:inter-cluster;
}

.pintext h3{
    color: #26393D;
}

.niceemodal{
    display: none;
    z-index: 9999;
    width: 40%;
    height: 500px;
    position: fixed;
    top:50px;
    left: 30%;
    background-color: #FEFEFE;
}

.niceemodaltext{
    background-color: #FEFEFE;
    padding: 20px;
}
.niceemodalback{
    display: none;
    background-color: grey;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9998;
    -webkit-opacity: 0.8;
}